
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('images/minimalism-post-it-notes-yellow-green-wallpaper.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 120
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}



.card-header h3{
color: white;
text-align: center;
}


.input-group-prepend span{
width: 50px;
background-color: #00c1fc;
color: rgb(255, 255, 255);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: rgb(255, 255, 255);
background-color: #00c1fc;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

:root{
    --themeColor:linear-gradient(to right, #fcf800, #fcf800);
}

  
  input[type='text'] {
    padding: 1rem;
    margin: auto;
    margin-top: 0rem;
    width: 20rem;
    display: block;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #43cea2;
  }
  input[type='password'] {
    padding: 1rem;
    margin: auto;
    margin-top: 0rem;
    width: 20rem;
    display: block;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #43cea2;
  }
  
  
  .form__btn {
    background:var(--themeColor);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    width: 20rem;
    margin: 1rem auto;
    border-radius: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }
  .form--message-text {
    width: 25rem;
    background: #fff;
    color: rgb(1, 0, 2);
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    animation: fadeIn 0.8s;
    border-radius: 1rem;
  }
  
  .form-active {
    z-index: 1000;
    display: block;
  }
  .form-active-animate {
    animation: moveRight 1s;
  }
  .form-inactive {
    display: block;
    animation: moveLeft 1s;
  }

  .errorMsg{
    position: absolute;
    top:-100%;
    left:50%;
    width:40%;
    padding: 0.5% 5%;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border-radius: 20px;
    z-index: 2000;
    text-align: right !important;
}
.errorMsg::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.753);
    position: absolute;
    bottom:-54%;
    left:67%;
    z-index: 2000;
}
.errorMsg.hidden{
    display: none;
}

canvas{
  position: absolute;
  height:100%; 
  width: 100%;
  top:0;
  left:0;
  object-fit: cover;
  background: transparent;
}